[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.1.x.cfg
    https://raw.github.com/toutpt/mypythontools/master/test-xml.cfg
package-name = collective.localrolesdatatables
package-extras = [tests]

parts+=omelette

[omelette]
recipe=collective.recipe.omelette
eggs=${instance:eggs}
